/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

img{
    max-width: 100%;
}

:root{

}
/* COMMAND */
.pt{
    padding-top: 5rem;
}
h3{
    font-size: 1.5rem;
}

h4{
    font-size: 1rem;
}
.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}
.centre{
    justify-content: center;
    align-items: center;
}

.c{
    align-items: center;
}
.end{
    justify-content: flex-end;
}

.start{
    justify-content: flex-start;
}

.space-between{
    justify-content: space-between;
}
.container{
    width: 70%;
    margin: 10rem auto;
    

    /* debug */
    /* background-color: lightgray; */
}


.mt{
    margin-top: 50px;
}

.mb{
    margin-bottom: 2rem;
}
ul{
    list-style: none;
}

.white{
    background-color: white;
    z-index: 999;
}

.strech{
    align-items:stretch ;
}
/* /COMMAND */

/* HEADER */


/* NAV */
.navbar{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    /* debug */
    /* background-color: green; */
}

.relative{
    position: relative;
}
.header-container{
    width: 98%;
    margin: 0 auto;
    position: relative;
    

    /* debug */
    height:50px;
    /* background-color: aqua; */
}

.start-header{
    position: absolute;
    left: 0;
    height: 100%;
    width: 50%;
    
    /* top: calc(50% - 18px ); */
    /* background-color: red; */
}

.end-header{
    position: absolute;
    right: 0;
    height: 100%;
    width: 50%;

    /* debug */
    /* background-color: purple; */
    
}
.start-header > ul{
    margin-left: 1em;
    
}


.end-header > ul{
    margin-right: 1em;
}
.start-header ul li > a{
    text-decoration: none;
    color: rgb(39, 38, 38);
    
}
.end-header ul li > a{
    text-decoration: none;
    color: rgb(39, 38, 38);
    
}

.logo img{
    width: 100%;
    height: 2rem;
}

.button button{
    padding: 0.5rem 1rem;
    border: #0061FF;
}

.blue-button{
    background-color: #0061FF;
    color: white;
}
/* /NAV */

/* JUMBO */

.jumbo{
    margin-top: 100px;
    padding-top: 100px;
    background-color:#B4D0E7 ;

}

.jumbo-container{
    
    width: 75%;
    margin: 0 auto;
    
    /* background-color: lightpink; */
}

.container-col-jumbo{
    width: 100%;
    display: flex;
}

.jumbo-container h1{
    margin-bottom: 4rem;
    font-size: 4rem;
}

.collum{
    width: 35%;
    font-size: 1.8rem;
    color: rgba(0, 0, 0, 0.849);
    /* debug */
    /* border: 1px solid black; */
    
}

.collum > p, .one,p{
    margin-bottom: 2rem;
}

.jumbo-img{
    margin-bottom: -8rem;
}
/* /JUMBO*/

/* /HEADER */

/* main */

.container h2{
    /* background-color: lightsalmon; */
    font-size: 2rem;
}

.container .check-box input{
    margin-left: 1rem;
    margin-right: 0.5rem;
    /* background-color: aqua; */
}

.container .flex{
    /* debug */
    /* background-color: limegreen; */
}

.col{
    width: 30%;
    min-height: 60rem;
    border: 1px solid rgba(0, 0, 0, 0.507);
}

.number{
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid  rgba(0, 0, 0, 0.507);
}

.border{
    border: 1px solid rgba(0, 0, 0, 0.507);
}

.col-container{
    width: 90%;
    margin: 0 auto;
}

.col-container > h3, h4, p{
    margin-top: 1rem;
}

.col-container > ul, .two, .link{
    margin-top: 3rem;
}

.col-container ul li i{
    margin-right: 0.5rem;
    
    
}

.col-container ul li{
    margin-top: 2rem;
}

.blu{
    color: #0061FF;
    
}

ul li {
    display: flex;
     
}
.number i{
    padding-right: 0.5rem;
}
.brline{
    padding-top: 1rem;
    padding-bottom: 2rem;
    color:  rgba(0, 0, 0, 0.507);
}
/* direct testo */

.team-testo{
    width: 70%;
    margin-left: 2rem;
    /* debug */
    /* background-color: burlywood; */
}

.team-button{
    width: 30%;
    
    /* debug */
    /* background-color: blueviolet; */
}

.team-testo > p{
    padding-top: 2rem;
}

.team-testo{
    margin-left: 2rem;
}
/* immagine e testo */

.imm{
    width: 140%;
    height: calc(100vw / 3);
}

.box-testo-laterlale{
    padding-left:4rem;
    text-align: start;
    padding-top: 7rem;
}

.box-testo-laterlale h3{
    font-size: 2rem;
}
.box-testo-laterlale p{
    font-size: 1.5rem;
}
/* caratteristiche */
.col-car{
    width: calc(100% / 3);
    margin-top: 2rem;

    /* debug */
    /* background-color: lightpink;
    border: 1px solid black; */
}

.col-car img{
    width: 70%;
    padding-bottom: 3rem;
}

.col-car h3{
    font-size: 2rem;
}

.col-car p{
    font-size: 1.5rem;
}

/* quadrati */

.squaretainer{
    width: 100%;
    height: calc(100vw / 3);
    display: flex;

    /* debug */
    background-color: darkgoldenrod;
}

.box{
    width: calc(100% / 3);

    /* debug */
    border: 1px solid black;
}

.square{
    width: calc(100% / 2);
    position: relative;
    /* debug */
    /* border: 1px solid black;
    background-color: chartreuse; */
}


.prima{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}
/* prova gratuita */

.freetrial-container{
    background-color: deepskyblue;
}

.testo-trial{
    width: 70%;
}


/* /main */

/* footer */
footer{
    background-color: black;
    color: white;
    width: 100%;
    height: 15rem;
}

.footer-col{
    width: calc(100% / 5);
    margin-top: 2rem;

    /* debug */
    background-color: black;
    border: 1px solid black;
}